@font-face {
  font-family: 'myriadSemibold';
  src: url('../../fonts/MyriadPro-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myriadLight';
  src: url('../../fonts/MyriadPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myriadRegular';
  src: url('../../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myriadBold';
  src: url('../../fonts/MyriadPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}