<div class="m-text-module">
  <img class="m-text-module__logo" src="{{ logo }}" alt="{{ title }}"/>
  <h3 class="m-text-module__title">{{ title }}</h3>
  <p class="m-text-module__text">{{ text }}</p>
</div>